.container {
  width: 800px;
  height: 500px;
  font-size: 50px;
  font-weight: bold;
  border: 5px solid gray;
  background-color: aqua;
  border-radius: 15px;
}

.center-text {
  text-align: center;
}

.text-color {
  foreground-color: black;

.footer {
  font-size: small;
  text-align: center;
}
